@model DoctorTrain.Model.Dto.AuthDto.HospitalLoginDto
@{
    ViewData["Title"] = "Login";
}

<div style="display: flex; justify-content: space-around; padding: 50px;">
    <!-- Login Form -->
    <div style="border: 2px solid black; padding: 30px; width: 40%;">
        <h4 style="text-align: center;">Login Page</h4>
        <form asp-action="Login" method="post">
            <div style="margin-bottom: 20px;">
                <label>Email</label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <label>Password</label><br />
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <a asp-controller="Auth" asp-action="RegisterOptions">Create new Account</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>

   @*  <!-- Registration Options -->
    <div style="border: 2px solid black; padding: 30px; width: 40%;">
        <div style="text-align: center;">
            <h4>Choose Registration Type</h4>
        </div>
        <div style="display: flex; flex-direction: column; gap: 20px; align-items: center; margin-top: 30px;">
            <a asp-controller="Admin" asp-action="AdminRegistration" class="btn btn-outline-dark" style="width: 70%;">Admin Registration</a>
            <a asp-controller="Admin" asp-action="DoctorRegistration" class="btn btn-outline-dark" style="width: 70%;">Doctor Registration</a>
            <a asp-controller="Admin" asp-action="PatientRegistration" class="btn btn-outline-dark" style="width: 70%;">Patient Registration</a>
        </div>
    </div>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}