@{
    ViewData["Title"] = "Choose Registration";
}

<div style="border: 2px solid black; padding: 30px; width: 40%; margin: auto; margin-top: 50px;">
    <h4 style="text-align: center;">Choose Registration Type</h4>
    <div style="display: flex; flex-direction: column; gap: 20px; align-items: center; margin-top: 30px;">
        <a asp-controller="Auth" asp-action="AdminRegistration" class="btn btn-outline-dark" style="width: 70%;">Admin Registration</a>
        <a asp-controller="Auth" asp-action="DoctorRegistration" class="btn btn-outline-dark" style="width: 70%;">Doctor Registration</a>
        <a asp-controller="Auth" asp-action="PatientRegistration" class="btn btn-outline-dark" style="width: 70%;">Patient Registration</a>
    </div>
</div>
